



.gameField{
    margin: auto;
    text-align: center;
    width:500px ;
    padding: 15px;
    background-image: url('./casino-slot-machine-games-wallpaper.jpg');
    color: lightgrey;
}
.gameField h1{
    font-size: 50px;
    color: goldenrod;
}
.betsInputs{
    
    border-top: 2px solid black;
    margin:  15px auto;
    width: 500px;
    text-align: center;
    background-color: darkslategray;
   
}